{{!-- Comments in these tags do not appear in the final HTML document     --}}

{{!-- main.hbs is the layout, the most top-level piece of frontend HTML   --}}
{{!-- in which every *page.hbs will be rendered. The specified *page.hbs  --}}
{{!-- will be inserted where {{{body}}} is.                               --}}

<html lang="en">

<head>
    {{!-- Boilerplate --}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    {{!-- Imports needed for jquery, just javascript but fancier --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {{!-- Imports needed for bootstrap, to be phased out before release --}}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    {{!-- Imports needed for axios, which enables frontend's requests --}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    {{!-- Imports needed to use handlebars after pageload (during runtime) --}}
    <script src="http://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
    <script src="templates.precompiled.js"></script>

    {{!-- Title of page --}}
    <title> {{headTitle}} </title>

    {{!-- Stylesheets --}}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
<div class="siteWrapperForMobileScrollIssues">
    {{> navBar headTitle=headTitle}}
    {{{body}}}
</div>
</body>

<script id="scriptForEnterToClick" src="/assets/js/enterToClick.js"></script>
<script id="scriptToSetUpHandlebarsHelpers" src="/assets/js/setupHandlebarsPrecompilation.js"></script>

</html>