{{!--&lt;!&ndash; footer content, could include copyright logo, extra links, etc. &ndash;&gt;--}}


{{!--<footer>--}}
{{!--    <div class="main-footer">--}}
{{!--        <div class="footer-container-flex">--}}
{{!--            <div class="footer-branding">--}}
{{!--                <img class="footer-logo"--}}
{{!--                    src="../../assets/img/brown-logo-white.png">--}}
{{!--                <div class="footer-tagline">Any Person, Any Question</div>--}}
{{!--            </div>--}}
{{!--            <div class="footer-column-1">--}}
{{!--                <div class="footer-column-title">Navigation</div>--}}
{{!--                <div class="footer-nav-item">--}}
{{!--                    <a class="footer-link" href="https://www.brown.edu">Log in</a>--}}
{{!--                </div>--}}
{{!--                <div class="footer-nav-item">--}}
{{!--                    <a class="footer-link" href="https://www.brown.edu">Sign Up</a>--}}
{{!--                </div>--}}
{{!--                <div class="footer-nav-item">--}}
{{!--                    <a class="footer-link" href="https://www.brown.edu">Trending</a>--}}
{{!--                </div>--}}
{{!--                <div class="footer-nav-item">--}}
{{!--                    <a class="footer-link" href="https://www.brown.edu">University</a>--}}
{{!--                </div>--}}
{{!--                <div class="footer-nav-item">--}}
{{!--                    <a class="footer-link" href="https://www.brown.edu">Announcement</a>--}}
{{!--                </div>--}}
{{!--            </div>--}}
{{!--            <div class="footer-column-2">--}}
{{!--                <div class="footer-column-title">Information</div>--}}
{{!--                <div class="footer-nav-item">--}}
{{!--                    <a class="footer-link" href="https://www.brown.edu">About Us</a>--}}
{{!--                </div>--}}
{{!--                <div class="footer-nav-item">--}}
{{!--                    <a class="footer-link" href="https://www.brown.edu">Career</a>--}}
{{!--                </div>--}}
{{!--                <div class="footer-nav-item">--}}
{{!--                    <a class="footer-link" href="https://www.brown.edu">Advertise</a>--}}
{{!--                </div>--}}
{{!--                <div class="footer-nav-item">--}}
{{!--                    <a class="footer-link" href="https://www.brown.edu">Newsletter</a>--}}
{{!--                </div>--}}
{{!--                <div class="footer-nav-item">--}}
{{!--                    <a class="footer-link" href="https://www.brown.edu">Privacy--}}
{{!--                        Policy</a>--}}
{{!--                </div>--}}
{{!--            </div>--}}
{{!--        </div>--}}
{{!--    </div>--}}
{{!--    <div class="social-footer">--}}
{{!--        <div class="social-footer-container-flex">--}}
{{!--            <div class="footer-copyright">--}}
{{!--                Copyright &copy; 2020, Full Stack at Brown--}}
{{!--            </div>--}}
{{!--            <div class="footer-social-media">--}}
{{!--                <img class="social-buttons" src="../../assets/img/facebook.png">--}}
{{!--                <img class="social-buttons" src="../../assets/img/twitter.png">--}}
{{!--            </div>--}}
{{!--        </div>--}}
{{!--    </div>--}}
{{!--</footer>--}}