{{!-- navBar component: logo, edit icon, saved icon, etc. --}}
<nav id="navBar" class="navBar withNavBarOneEdgeShadow">
    <div class="navBarOverallContainer">

        <a class="navBarSiteLogo tabHighlightable" href="/" tabindex="0">
            <span class="insideTabHighlightable insideButText" tabindex="-1">
                Startup Analysis
            </span>
        </a>
        
        <div class="navbar_routes">
        <ul class="nav navbar-nav mx-auto">
          <a class="btn btn-light navbar-btn" href="./">Home</a>
          <a class="btn btn-light navbar-btn" href="./data">Data</a>
          <a class="btn btn-light navbar-btn" href="./creds">Creds</a>
        </ul>
        </div>
        

        <div class="navBarAllIconsContainer">

        

            <button id="navBarSettingsDropdownMenuLink"
                    class="navBarSingleIconContainer navBarDropdownIconContainer tabHighlightable zToolTipRelative"
                    tabindex="0" aria-haspopup="true" aria-expanded="false" type="button"
                    aria-label="Settings">
                <span class="zToolTip">Settings</span>
                <span class="insideTabHighlightable forJSNavBarDropdownClickClass" tabindex="-1">
                    <svg id="settingsSymbol" class="navBarSingleIcon"
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 22 22">
                        <path
                                d="M21.14,9.38l-1.75-.25a1,1,0,0,1-.81-.65,8.3,8.3,0,0,0-.44-1.07,1,1,0,0,1,.11-1L19.32,5a1,1,0,0,0-.09-1.31l-.9-.9A1,1,0,0,0,17,2.68L15.6,3.75a1,1,0,0,1-1,.11,8.3,8.3,0,0,0-1.07-.44,1,1,0,0,1-.65-.81L12.62.86a1,1,0,0,0-1-.86H10.37a1,1,0,0,0-1,.86L9.13,2.61a1,1,0,0,1-.65.81,8.3,8.3,0,0,0-1.07.44,1,1,0,0,1-1-.11L5,2.68a1,1,0,0,0-1.31.09l-.9.9A1,1,0,0,0,2.68,5L3.75,6.4a1,1,0,0,1,.11,1,8.3,8.3,0,0,0-.44,1.07,1,1,0,0,1-.81.65L.86,9.38a1,1,0,0,0-.86,1v1.26a1,1,0,0,0,.86,1l1.75.25a1,1,0,0,1,.81.65,8.3,8.3,0,0,0,.44,1.07,1,1,0,0,1-.11,1L2.68,17a1,1,0,0,0,.09,1.31l.9.9A1,1,0,0,0,5,19.32L6.4,18.25a1,1,0,0,1,1-.11,8.3,8.3,0,0,0,1.07.44,1,1,0,0,1,.65.81l.25,1.75a1,1,0,0,0,1,.86h1.26a1,1,0,0,0,1-.86l.25-1.75a1,1,0,0,1,.65-.81,8.3,8.3,0,0,0,1.07-.44,1,1,0,0,1,1,.11L17,19.32a1,1,0,0,0,1.31-.09l.9-.9A1,1,0,0,0,19.32,17L18.25,15.6a1,1,0,0,1-.11-1,8.3,8.3,0,0,0,.44-1.07,1,1,0,0,1,.81-.65l1.75-.25a1,1,0,0,0,.86-1V10.37A1,1,0,0,0,21.14,9.38ZM11,15a4,4,0,1,1,4-4A4,4,0,0,1,11,15Z"/>
                    </svg>
                </span>
            </button>
            <div class="navBarDropdownMenu">
              
                <div class="helpButton navBarDropdownMenuOption tabHighlightable enterToClick"
                     tabindex="0">
                    <span class="insideTabHighlightable" tabindex="-1">
                        <svg class="reportSymbol navBarDropdownMenuOptionIcon"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="-2 0 24.33 22">
                            <path
                                    d="M17.5,8.63a1,1,0,0,1,0-1.26l4.61-5.74A1,1,0,0,0,21.33,0H2A2,2,0,0,0,0,2V21a1,1,0,0,0,1,1H2a1,1,0,0,0,1-1V16H21.33a1,1,0,0,0,.78-1.63Z"/>
                            </svg>
                        <span class="navBarDropdownMenuOptionText"> Help </span>
                    </span>
                </div>
                <div class="navBarDropdownMenuLine"></div>
                <div class="logOutButton navBarDropdownMenuOption tabHighlightable enterToClick"
                href="/logout"
                     tabindex="0">
                    <span class="insideTabHighlightable" tabindex="-1">
                        <svg class="reportSymbol navBarDropdownMenuOptionIcon"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="-2 0 24.33 22">
                            <path
                                    d="M17.5,8.63a1,1,0,0,1,0-1.26l4.61-5.74A1,1,0,0,0,21.33,0H2A2,2,0,0,0,0,2V21a1,1,0,0,0,1,1H2a1,1,0,0,0,1-1V16H21.33a1,1,0,0,0,.78-1.63Z"/>
                            </svg>
                        <span class="navBarDropdownMenuOptionText"> Log Out </span>
                    </span>
                </div>
            </div>

        </div>

    </div>

    <script id="scriptForNavBarMenus" src="../assets/js/navBarDropDownMenus.js"></script>
</nav>

<script type="text/javascript">
    $(function () {
        var hash = window.location.hash;
        hash && $('ul.nav a[href="' + hash + '"]').tab('show');

        $('.nav-tabs a').click(function (e) {
            $(this).tab('show');
            window.location.hash = this.hash;
        });

        if ('scrollRestoration' in history) {
            history.scrollRestoration = 'manual';
        }
        window.scrollTo(-10, 0);
    });

</script>


