<div id="sideBarQuickLinksBox" class="sideBarQuickLinksBox">
    <div class="sideBarBoxHeader">
        &nbsp; Quick Links
    </div>
    <a class="quickLink sideBarButton tabHighlightable" tabindex="0" href="https://docs.google.com/document/d/1_70PUrEVtrVFoMpVJEw4LAZtuk7MFcwMq9kKwF-eEIg/edit">
        <span class="insideTabHighlightable" tabindex="-1">
            Project Outline
        </span>
    </a>
    <a class="quickLink sideBarButton tabHighlightable" tabindex="0" href="https://github.com/akshay7424/Data1050-Startup-Data-Final-Project">
        <span class="insideTabHighlightable" tabindex="-1">
            Contribute on Github
        </span>
    </a>
    <button class="quickLink sideBarButton tabHighlightable" tabindex="0" href="mailto:tasha_kim@brown.edu">
        <span class="insideTabHighlightable" tabindex="-1">
            Contact a Moderator
        </span>
    </button>
    <button class="quickLink sideBarButton tabHighlightable" tabindex="0" href="https://github.com/akshay7424/Data1050-Startup-Data-Final-Project">
        <span class="insideTabHighlightable" tabindex="-1">
            Report a Bug
        </span>
    </button>
</div>
