<div id="404Page" class="error404PageContainer">

    <div class="error404Container">
        <span class="error404MessageHeaderJust4">4</span>
        <div class="questionMarkCircle butMakeItSpin">
            <svg id="questionMarkSymbol" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
                <path d="M11,13.68a1,1,0,0,1-1-1,3.17,3.17,0,0,1,1-2.2l1.6-1.59a.91.91,0,0,0,.23-.82A1.45,1.45,0,0,0,12,7a2.69,2.69,0,0,0-1-.18,1.85,1.85,0,0,0-1.8,1.39,1,1,0,0,1-1,.85H8.09a1,1,0,0,1-.85-1.12A3.75,3.75,0,0,1,11,4.79a4.75,4.75,0,0,1,1.7.32,3.48,3.48,0,0,1,2.11,2.5,2.9,2.9,0,0,1-.78,2.7L12.47,11.9a1.28,1.28,0,0,0-.43.77,1,1,0,0,1-.29.7A1.06,1.06,0,0,1,11,13.68Z"/>
                <circle cx="11.02" cy="16.5" r="1.25"/>
            </svg>
        </div>
        <span class="error404MessageHeaderJust4">4</span>
        <div class="error404MessageBody">
            Maybe this page moved or got deleted ... <br>
            ... or is it playing hide and seek with Blueno!? <br>
            Let's go
            <a class="error404HomeLink tabHighlightable" href="/">
                <span class="insideTabHighlightable insideButText">home</span>
            </a> and try again. <br>
        </div>
    </div>


    {{!-- No scripts --}}

</div>
