<div id="profilePage" class="profilePageContainer">

    <div class="personalPostsContainer">
        <div id="personalPostsTabSelector" class="personalPostsTabSelector">
            <div class="personalPostsTabSelectorLeft"></div>
            <div class="personalPostsTabSelectorCenter">
                <button id="myPostsTabButton" aria-label="My Posts"
                        class="personalPostsTabButton tabHighlightable zToolTipRelative active"
                        tabindex="0" data-tab-name="myPostsTab">
                    <span class="zToolTip"> My Posts </span>
                    <span class="insideTabHighlightable" tabindex="-1">
                        <span class="personalPostsTabText"> My Posts </span>
                    </span>
                </button>
                <button id="savedPostsTabButton" aria-label="Saved Posts"
                        class="personalPostsTabButton tabHighlightable zToolTipRelative"
                        tabindex="0" data-tab-name="savedPostsTab">
                    <span class="zToolTip"> Saved Posts </span>
                    <span class="insideTabHighlightable" tabindex="-1">
                        <span class="personalPostsTabText"> Saved Posts </span>
                    </span>
                </button>
            </div>
        </div>
        <div class="personalPostsTabContentContainer">
            <div id="myPostsTab" class="personalPostsTabContent active">
                {{#each myPosts}}
                    {{> postBase userID=../userID}}
                {{/each}}
            </div>
            <div id="savedPostsTab" class="personalPostsTabContent">
                {{#each savedPosts}}
                    {{> postBase userID=../userID}}
                {{/each}}
            </div>
        </div>
    </div>

    <div class="stickySideContainer">
        <div class="profileSideBox">
            <h3 class="mainText"><b>Name</b></h3>
            <p class="bio"> {{name}}</p>
            <h3 class="mainText"><b>Class Year</b></h3>
            <p class="bio"> {{year}}</p>
            <h3 class="mainText"><b>Concentration</b></h3>
            <p class="bio"> {{concentration}}</p>
            <h3 class="mainText">
                <b>Bio</b>
            </h3>

            <p class="bio">
                {{bio}}
            </p>
            <h3 class="mainText"><b>Top Tags</b></h3>
            {{> profileTopTagContainer}}
            <h3 class="mainText"><b>Suggested Tags</b></h3>
            {{> profileSuggestedTagContainer}}
        </div>
    </div>


    {{!-- Scripts below --}}

    {{!-- Profile Page Only: Swapping Between Profile Tabs Functionality --}}
    <script id="scriptForProfilePage" src="../assets/js/profilePage.js"></script>

    {{!-- General Post Functionality --}}
    <script id="scriptForDropdownMenus" src="../assets/js/postBaseDropDownMenus.js"></script>
    <script id="scriptForLikeButtons" src="../assets/js/postBaseLikeButtons.js"></script>

    {{!-- Viewing Different Post Types Functionality --}}
    <script id="scriptForImagePosts" src="../assets/js/postBaseImageCarousels.js"></script>
    <script id="scriptForDocumentPosts" src="../assets/js/postBaseDocumentPosts.js"></script>
    <script id="scriptForPollPosts" src="../assets/js/postBasePolls.js"></script>
</div>