/* Our CSS style sheet */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/* ----------------- Big TODOs --------------------- */

/* -fix sizing from px to vw/vh
    (Z: sizing should be px; we will change view layouts based on detected media
        resolution. Main feed currently scales with horiz width from max down
        to approx 900; smaller than that, we remove the side bar, and then it'll
        be almost mobile display)
*/

/* -------------------- Variables: Colors And Numbers -------------------- */

/* These names are taken from the Figma,
   and eventually we should better group them so that
   custom palettes make more sense */

:root {
  --Z-BU-Yellow: #fec640;
  --Z-BU-Red: #c00404;
  --Z-Dark-Title-Bright: #dedede;
  --Z-Dark-Body-Dim: #afafaf;
  --Z-Dark-Highlight: #7a7a7a;
  --Z-Dark-Highlight-2: #575757;
  --Z-Dark-Post-Border: #3c3c3c;
  --Z-Icon-Hover: #333333;
  --Z-Dark-Post-Box: #222222;
  --Z-Dark-Post-Sides: #1d1d1d;
  --Z-Dark-Input-Background: #1b1b1b;
  --Z-Dark-Im-Outta-Names: #171717;
  --Z-Dark-Background: #0e0e0e;
  /* ----- temporary footer color ----- */
  /* ----- temporary footer color ----- */
  --Z-blue: #436cb4;
  --Z-darkblue: #2e4b7c;

  --Snappy-Transition-Delay: 200ms;
  --Tooltip-Delay: 750ms;
}

/* -------------------- All -------------------- */

html {
  box-sizing: border-box;
}
body {
  background-color: var(--Z-Dark-Background);
}
div.siteWrapperForMobileScrollIssues {
  width: 100%;
}
@media screen and (max-width: 480px) {
  div.siteWrapperForMobileScrollIssues {
    overflow-x: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: transparent;
}

button {
  background-color: transparent;
  text-align: inherit;
}

button.buttonStyle1 {
  float: right;
  height: 30px;
}
button.buttonStyle1 > .insideTabHighlightable {
  padding: 5px 12px;
  font-size: 14px;
  font-weight: 600;
  color: var(--Z-Dark-Title-Bright);
  background-color: var(--Z-Dark-Post-Sides);
}
textarea {
  resize: none;
}
.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

/* -------------------- Accessibility and Hover -------------------- */

.insideTabHighlightable,
.insideTabHighlightable:hover,
.insideTabHighlightable:focus,
.insideTabHighlightable:active {
  cursor: pointer;
  display: block;
  border-radius: inherit;
  height: inherit;
  width: inherit;
  background-color: transparent;
  /* Fixing the Safari bug for overflow:visible not working
     on buttons wrapping around things with shadows: */
  position: relative;
}
.insideTabHighlightable.insideButText {
  display: inline-block;
  border-radius: 2px;
}
.insideTabHighlightable.active {
  background-color: var(--Z-Icon-Hover);
}

.tabHighlightable:hover > .insideTabHighlightable:not(.insideButText) {
  background-color: var(--Z-Icon-Hover);
}
.tabHighlightable:focus
  > .insideTabHighlightable:not(.darkerShadow):not(.noShadow) {
  /* Important for accessibility: keyboard navigation (tab) */
  outline: none;
  background-color: var(--Z-Icon-Hover);
  -webkit-box-shadow: 0 5px 10px 5px rgba(10, 10, 10, 0.75);
  -moz-box-shadow: 0 5px 10px 5px rgba(10, 10, 10, 0.75);
  box-shadow: 0 5px 10px 5px rgba(10, 10, 10, 0.75);
}
.tabHighlightable:focus > .insideTabHighlightable.darkerShadow {
  /* Important for accessibility: keyboard navigation (tab) */
  outline: none;
  background-color: var(--Z-Icon-Hover);
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8);
}
.tabHighlightable:focus > .insideTabHighlightable.noShadow {
  /* Important for accessibility: keyboard navigation (tab) */
  outline: none;
  background-color: var(--Z-Icon-Hover);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.tabHighlightable:active > .insideTabHighlightable:not(.insideButText) {
  background: rgba(10, 10, 10, 0.75);
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

label:not([class]) {
  /* Important for accessibility: those using screen-readers
     will need these, but we can hide them this way. DO NOT
     USE DISPLAY: NONE! */
  /* The "not"s are for compatibility with Kota's use of label
     tags in the navBar's modals */
  border: 0;
  clip: rect(0 0 0 0);
  height: 0;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0;
}

/* -------------------- Tooltips -------------------- */

.zToolTipRelative {
  position: relative;
}
.zToolTipRelative > span.zToolTip {
  position: absolute;
  z-index: 50;
  top: calc(100% + 6px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 1px 6px 2px;

  visibility: hidden;
  border-radius: 5px;

  white-space: nowrap;
  text-align: center;
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
  color: white;
  background-color: black;
}
.zToolTipRelative > span.zToolTip::after {
  content: "";
  position: absolute;
  bottom: calc(100% - 1px);
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.zToolTipRelative:hover > span.zToolTip,
.zToolTipRelative:focus > span.zToolTip {
  transition-delay: var(--Tooltip-Delay);
  visibility: visible;
  opacity: 1;
}
.zToolTipRelative:hover > .zToolTip:hover {
  transition-delay: 0ms;
  visibility: hidden;
  opacity: 0;
}

/* -------------------- Navigation Bar -------------------- */

nav.navBar {
  position: fixed;
  border-radius: 0;
  border: none;
  height: 49px;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: var(--Z-Dark-Post-Box);
}
nav.navBar.withNavBarOneEdgeShadow {
  -webkit-box-shadow: 0 5px 10px 10px rgba(10, 10, 10, 0.75);
  -moz-box-shadow: 0 5px 10px 10px rgba(10, 10, 10, 0.75);
  box-shadow: 0 5px 10px 10px rgba(10, 10, 10, 0.75);
}

div.navBarOverallContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1001;
  max-width: 100%;
  height: 50px;
  width: 980px;
  margin: auto;
  padding: 0 20px;
}

a.navBarSiteLogo {
  display: block;
  border-radius: 5px;
  text-decoration: none;
  height: auto;
  width: auto;
  font-size: 34px;
  line-height: 34px;
  font-weight: 900;
  text-align: center;
  color: var(--Z-Dark-Title-Bright);
}
a.navBarSiteLogo:hover,
a.navBarSiteLogo:focus {
  text-decoration: none;
  color: var(--Z-BU-Yellow);
}

div.navBarAllIconsContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 36px;
  width: 350px;
  line-height: 36px;
}
a.navBarSingleIconContainer,
button.navBarSingleIconContainer {
  display: block;
  text-decoration: none;
  border-radius: 2px;
  height: 36px;
  width: 36px;
  margin: 0 0 0 10px;
}
svg.navBarSingleIcon {
  height: 22px;
  width: 22px;
  margin: 7px;
  fill: var(--Z-Dark-Title-Bright);
}
@media screen and (max-width: 356px) {
  /* Hide SavedPostsLink if page is too narrow */
  a#navBarSavedPostsLink {
    display: none;
  }
}

div#navBarNotificationsDropdownMenu {
  z-index: 2;
  -webkit-box-shadow: 0 5px 10px 10px rgba(10, 10, 10, 0.75);
  -moz-box-shadow: 0 5px 10px 10px rgba(10, 10, 10, 0.75);
  box-shadow: 0 5px 10px 10px rgba(10, 10, 10, 0.75);
}

div.navBarDropdownMenu {
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  top: calc(43px + 0px);
  right: 0;
  background: var(--Z-Dark-Post-Box);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 10px 0;
  -webkit-box-shadow: 0 5px 10px 2px rgba(10, 10, 10, 0.75);
  -moz-box-shadow: 0 5px 10px 2px rgba(10, 10, 10, 0.75);
  box-shadow: 0 5px 10px 2px rgba(10, 10, 10, 0.75);
}
div.navBarDropdownMenu.active {
  visibility: visible;
}
div.navBarDropdownMenuOption {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 2px;
  white-space: nowrap;
  margin: 0 0 10px;
  height: 30px;
}
div.navBarDropdownMenuOption > span.insideTabHighlightable {
  display: block;
  height: inherit;
  width: 100%;
  padding: 0 6px 0 0;
}
svg.navBarDropdownMenuOptionIcon {
  height: 18px;
  width: 18px;
  margin: 6px 12px 6px 6px;
  fill: var(--Z-Dark-Body-Dim);
}
span.navBarDropdownMenuOptionText {
  display: inline-block;
  position: relative;
  top: -10px;
  font-size: 14px;
  font-weight: 600;
  color: var(--Z-Dark-Body-Dim);
}
div.navBarDropdownMenuLine {
  margin: 0 0 10px;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid var(--Z-Dark-Body-Dim);
}

div.navBarDropdownMenuOption:hover,
div.navBarDropdownMenuOption:focus {
  background-color: var(--Z-Icon-Hover);
  text-decoration: none;
}
div.navBarDropdownMenuOption:hover svg.navBarDropdownMenuOptionIcon,
div.navBarDropdownMenuOption:focus svg.navBarDropdownMenuOptionIcon {
  fill: var(--Z-Dark-Title-Bright);
}
div.navBarDropdownMenuOption:hover span.navBarDropdownMenuOptionText,
div.navBarDropdownMenuOption:focus span.navBarDropdownMenuOptionText {
  color: var(--Z-Dark-Title-Bright);
}

/* -- nav tab stuff -- */

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: transparent;
}
div.dropdown-menu {
  max-width: 310px;
  margin-top: 0.8vh;
  float: right;
  left: unset;
  margin-right: 5vw;
  background-color: var(--Z-Dark-Post-Sides);
  line-height: 15pt;
}
div.navBarNotificationsDropdownMenuTitle {
  margin-left: 1.5vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 20px;
  color: var(--Z-Dark-Title-Bright);
}
div.navBarNotificationsDropdownMenuEntry {
  display: flex;
  width: 290px;
  margin: 10px;
  flex-wrap: wrap;
  background-color: var(--Z-Dark-Post-Box);
  border-radius: 5px;
}
div.notification-content-unread {
  margin: 2.5vh 2vw;
  width: 75%;
  float: left;
  color: var(--Z-Dark-Title-Bright);
}
div.notification-content-read {
  margin: 2.5vh 2vw;
  width: 85%;
  float: left;
  color: var(--Z-Dark-Body-Dim);
}
div.dotcontainer {
  float: right;
  width: 10%;
  position: absolute;
  margin-left: 85%;
  margin-top: 10%;
}
span.dot {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--Z-blue);
  display: inline-block;
  margin-bottom: 30px;
}

/* -------------------- Main Feed -------------------- */

div.mainFeedPageContainer,
div.profilePageContainer,
div.singlePostPageContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  width: 980px;
  margin: 70px auto 0;
  padding: 0 20px;
}
@media screen and (max-width: 480px) {
  div.mainFeedPageContainer,
  div.singlePostPageContainer {
    padding: 0;
  }
}

div.allPostsContainer,
div.singlePostPageLeftContainer {
  min-width: 0;
  max-width: 700px;
  flex-grow: 3;
}

div.para {
  padding-left: 100px;
  padding-right: 100px;
  font-size: 13px;
}
div.para-heading {
  padding-left: 100px;
  padding-right: 100px;
  font-size: 20px;
}

img.banner_img {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;

  padding-bottom: 40px;
  margin: auto;
  width: 100%;
}

/* -------------------- Profile Page -------------------- */

div.personalPostsContainer {
  min-width: 0;
  max-width: 700px;
  flex-grow: 3;
}

div.personalPostsTabSelector {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  height: auto;
  margin-bottom: 15px;
  background-color: var(--Z-Dark-Post-Box);
}
div.personalPostsTabSelectorLeft {
  border-radius: 5px 0 0 5px;
  min-width: 60px;
  width: 60px;
  padding: 20px 16px;
  background-color: var(--Z-Dark-Post-Sides);
}
div.personalPostsTabSelectorCenter {
  border-radius: 0 5px 5px 0;
  padding: 15px;
  min-width: 0;
  max-width: 640px;
  flex-grow: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--Z-Dark-Post-Box);
  line-height: 40px;
  font-weight: 600;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  div.personalPostsTabSelector,
  div.personalPostsTabSelectorLeft,
  div.personalPostsTabSelectorCenter {
    border-radius: 0;
  }
  div.personalPostsTabSelectorLeft {
    min-width: 50px;
    width: 50px;
  }
}

button.personalPostsTabButton {
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 15px 0 0;
  height: 40px;
  color: var(--Z-Dark-Post-Box);
  text-align: center;
  white-space: nowrap;
}
button.personalPostsTabButton.active > .insideTabHighlightable {
  background-color: var(--Z-Icon-Hover);
}
button.personalPostsTabButton.tabHighlightable > .insideTabHighlightable {
  padding: 0 15px;
}
span.personalPostsTabText {
  color: var(--Z-Dark-Body-Dim);
}
button.personalPostsTabButton:hover span.personalPostsTabText,
button.personalPostsTabButton.active span.personalPostsTabText {
  color: var(--Z-Dark-Title-Bright);
}

div.personalPostsTabContentContainer {
  min-width: 0;
  max-width: 700px;
}
div.personalPostsTabContent {
  display: none;
  min-width: 0;
  max-width: 700px;
}
div.personalPostsTabContent.active {
  display: block;
}

div.profileSideBox {
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
  width: 220px;
  background-color: var(--Z-Dark-Post-Box);
}

h3.mainText {
  color: var(--Z-Dark-Title-Bright);
  margin-top: 5px;
  font-size: 18px;
  font-weight: 600;
}
p.bio {
  color: var(--Z-Dark-Body-Dim);
  font-size: 14px;
  font-weight: 400;
}
a.white {
  margin: 5px;
  color: white;
  cursor: pointer;
}
div.profileTagContainer {
  display: flex;
  min-width: 0;
  max-width: 551px;

  overflow: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
  overscroll-behavior: contain auto; /* does not work for IE, Safari */

  flex-grow: 3;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
div.profileTagContainer::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}
div.tagProfile {
  flex-shrink: 0;
  display: block;
  border-radius: 10px;
  padding: 4px 7px 4px;
  margin: 0 10px 10px 0;
  height: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  color: var(--Z-Dark-Post-Box);
  background-color: var(--Z-Dark-Body-Dim);
}

/* ------------------- Main Feed Create Post ------------------- */

div.createPostContainer {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  height: auto;
  margin-bottom: 15px;
  background-color: var(--Z-Dark-Post-Box);
}
div.createPostLeft {
  border-radius: 5px 0 0 5px;
  min-width: 60px;
  width: 60px;
  padding: 20px 16px;
  background-color: var(--Z-Dark-Post-Sides);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
div.createPostCenter {
  min-width: 0;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  border-radius: 0 5px 5px 0;
  padding: 15px;
  background-color: var(--Z-Dark-Post-Box);
}
div.createPostCenterTop {
  flex-grow: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 5px 5px 0;
  max-width: 640px;
  background-color: var(--Z-Dark-Post-Box);
}
@media screen and (max-width: 480px) {
  div.createPostContainer,
  div.createPostLeft,
  div.createPostCenter {
    border-radius: 0;
  }
  div.createPostLeft {
    min-width: 50px;
    width: 50px;
  }
}

/* Icon buttons on the left */
button.createPostLeftIconContainer {
  display: none;
  border-radius: 2px;
  margin: 0 0 15px;
  height: 28px;
  width: 28px;
}
button#closeCPButton:hover svg.createPostLeftIcon,
button#closeCPButton:focus svg.createPostLeftIcon {
  fill: var(--Z-BU-Red);
}
button#draftCPButton:hover svg.createPostLeftIcon,
button#draftCPButton:focus svg.createPostLeftIcon {
  fill: var(--Z-BU-Yellow);
}
svg.createPostLeftIcon {
  width: 16px;
  height: 16px;
  margin: 6px;
  fill: var(--Z-Dark-Highlight);
}

/* General text input class */
.textInputClass {
  -webkit-transition: background-color var(--Snappy-Transition-Delay),
    color var(--Snappy-Transition-Delay);
  -moz-transition: background-color var(--Snappy-Transition-Delay),
    color var(--Snappy-Transition-Delay);
  transition: background-color var(--Snappy-Transition-Delay),
    color var(--Snappy-Transition-Delay);
  border-radius: 5px;
  border: none;
  padding: 6px 13px;
  margin: 0;
  height: 100%;
  width: 100%;
  word-wrap: break-word;
  background-color: var(--Z-Dark-Input-Background);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--Z-Dark-Body-Dim);
}
.textInputClass:hover,
.textInputClass:focus {
  -webkit-transition: background-color var(--Snappy-Transition-Delay);
  -moz-transition: background-color var(--Snappy-Transition-Delay);
  transition: background-color var(--Snappy-Transition-Delay);
  outline: none;
  text-decoration: none;
  background-color: var(--Z-Dark-Background);
}
.textInputClass::placeholder {
  -webkit-transition: color var(--Snappy-Transition-Delay);
  -moz-transition: color var(--Snappy-Transition-Delay);
  transition: color var(--Snappy-Transition-Delay);
  color: var(--Z-Dark-Body-Dim);
}
.textInputClass:hover::placeholder,
.textInputClass:focus::placeholder,
.tabHighlightable:focus .textInputClass::placeholder {
  -webkit-transition: background-color var(--Snappy-Transition-Delay);
  -moz-transition: background-color var(--Snappy-Transition-Delay);
  transition: background-color var(--Snappy-Transition-Delay);
  color: var(--Z-Dark-Body-Dim);
}

/* The thing that looks like but is not a text input */
button#createPostFauxInputLink,
span#createPostFauxInput {
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
  flex-grow: 3;
}
span#createPostFauxInput {
  min-width: 0;
  padding: 10px 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--Z-Dark-Body-Dim);
  -webkit-transition: background-color var(--Snappy-Transition-Delay),
    color var(--Snappy-Transition-Delay);
  -moz-transition: background-color var(--Snappy-Transition-Delay),
    color var(--Snappy-Transition-Delay);
  transition: background-color var(--Snappy-Transition-Delay),
    color var(--Snappy-Transition-Delay);
  background-color: var(--Z-Dark-Input-Background);
}
span#createPostFauxInput::after {
  content: "Share your startup information here!";
}
@media screen and (max-width: 880px) {
  span#createPostFauxInput::after {
    content: "Share your startup information here!";
  }
}
@media screen and (max-width: 765px) {
  span#createPostFauxInput::after {
    content: "Create a post ...";
  }
}
@media screen and (max-width: 410px) {
  span#createPostFauxInput::after {
    content: "";
  }
}
button#createPostFauxInputLink:focus > span#createPostFauxInput,
span#createPostFauxInput:hover {
  text-decoration: none;
  color: var(--Z-Dark-Body-Dim);
  background-color: var(--Z-Dark-Background);
}

/* Post type icon buttons */
div#createPostIconsContainer {
  display: flex;
  align-items: center;
  margin-left: 15px;
  height: 40px;
  width: 150px;
  line-height: 30px;
}
button.createPostSingleIconContainer {
  flex-grow: 3;
  cursor: pointer;
  text-decoration: none;
  border-radius: 2px;
  margin: 0 10px 0 0;
  height: 30px;
  min-width: 30px;
  max-width: 30px;
  color: var(--Z-Dark-Post-Box);
  text-align: center;
  white-space: nowrap;
}
svg.createPostIcon {
  width: 18px;
  height: 18px;
  margin: 6px;
  text-align: center;
  line-height: 18px;
  fill: var(--Z-Dark-Body-Dim);
}
button.createPostSingleIconContainer.active > .insideTabHighlightable {
  background-color: var(--Z-Icon-Hover);
}
button.createPostSingleIconContainer:hover svg.createPostIcon,
button.createPostSingleIconContainer.active svg.createPostIcon {
  fill: var(--Z-Dark-Title-Bright);
}
button.createPostSingleIconContainer:hover span.createPostIconText,
button.createPostSingleIconContainer.active span.createPostIconText {
  color: var(--Z-Dark-Title-Bright);
}
button#pollPostButton {
  margin: 0;
}
button#textPostButton {
  display: none;
}
@media screen and (max-width: 410px) {
  button#createPostFauxInputLink {
    display: none !important; /* Overrides javascript */
  }
  button#textPostButton {
    display: block !important; /* Overrides javascript */
  }
  div#createPostIconsContainer {
    width: 100% !important; /* Overrides javascript */
    margin-left: 0 !important; /* Overrides javascript */
  }
  button.createPostSingleIconContainer {
    max-width: 100% !important; /* Overrides javascript */
  }
}
span.createPostIconText {
  display: none;
  position: relative;
  bottom: 10px;
  margin: 0 6px 0 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: var(--Z-Dark-Body-Dim);
}
@media screen and (max-width: 800px) {
  span.createPostIconText {
    display: none !important; /* Overrides javascript */
  }
}
span.secondWord {
  display: inline;
  white-space: nowrap;
}
@media screen and (max-width: 925px) {
  span.secondWord {
    display: none;
  }
}

/* Generally, the bottom part of the inline CP Section */
div.createPostCenterBottomSpecificForm {
  display: none;
  margin: 10px 0 0;
  background-color: var(--Z-Dark-Post-Box);
  border-top: none;
}
div.createPostCenterBottomSpecificForm.active {
  display: block;
}
div#titleInputWrapper.createPostStandardInput {
  position: relative;
  height: auto;
}
textarea#createPostTitleInput {
  color: var(--Z-Dark-Title-Bright);
  font-size: 16px;
  font-weight: 600;
  padding: 10px 68px 10px 13px;
  min-height: 40px;

  /* for tiny spacing bug when resizing */
  overflow: hidden scroll;
  -ms-overflow-style: none;
  overscroll-behavior: auto contain;
  scrollbar-width: none;
}
textarea#createPostTitleInput::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}
div#createPostTitleInputCharacterCount {
  position: absolute;
  bottom: 11px;
  right: 13px;
  font-size: 12px;
  font-weight: 600;
  color: var(--Z-Dark-Highlight);
}
.createPostStandardInput {
  display: none;
  border-radius: 5px;
  margin: 10px 0 0;
  height: 40px;
}

/* Text posts */
textarea#createPostBodyInput {
  resize: none;
  padding: 10px 13px;
  height: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  /* for tiny spacing bug when resizing */
  overflow: hidden scroll;
  -ms-overflow-style: none;
  overscroll-behavior: auto contain;
  scrollbar-width: none;
}
textarea#createPostBodyInput::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

/* Image and Document posts (base) */
input#createPostImageInputHidden,
input#createPostDocumentInputHidden {
  display: none;
}
div#createPostImageDropArea,
div#createPostDocumentDropArea {
  -webkit-transition: background-color var(--Snappy-Transition-Delay),
    color var(--Snappy-Transition-Delay), border var(--Snappy-Transition-Delay),
    color var(--Snappy-Transition-Delay);
  -moz-transition: background-color var(--Snappy-Transition-Delay),
    color var(--Snappy-Transition-Delay), border var(--Snappy-Transition-Delay),
    color var(--Snappy-Transition-Delay);
  transition: background-color var(--Snappy-Transition-Delay),
    color var(--Snappy-Transition-Delay), border var(--Snappy-Transition-Delay),
    color var(--Snappy-Transition-Delay);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;

  padding: 9px;
  min-height: 170px;
  width: 100%;
  max-width: 620px;

  border-radius: 5px;
  border: 1px dashed var(--Z-Icon-Hover);
  color: var(--Z-Dark-Body-Dim);
  background-color: var(--Z-Dark-Input-Background);

  overflow: scroll hidden;
  -ms-overflow-style: none;
  overscroll-behavior: contain auto;
  scrollbar-width: none;
}
div#createPostDocumentDropArea {
  min-height: 90px;
}
div#createPostDocumentDropArea > .postDocumentPreviewWrapper {
  margin: 0;
  max-width: none;
  border: 1px solid var(--Z-Dark-Body-Dim);
}
.createPostDocumentPreviewElement.removeDocumentButton:hover
  svg.removeDocumentSymbol {
  fill: var(--Z-BU-Red);
}
div#createPostDocumentDropArea::-webkit-scrollbar,
div#createPostImageDropArea::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}
div#createPostImageDropAreaText,
div#createPostDocumentDropAreaText {
  pointer-events: none;
  white-space: nowrap;
}
label.labelButton {
  margin: 7px 0;
  cursor: pointer;
  border-radius: 5px;
  vertical-align: baseline;
}
label.labelButton > .insideTabHighlightable {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 3px 5px;
  border: 1px solid var(--Z-Icon-Hover);
  color: var(--Z-Dark-Body-Dim);
}
label.labelButton:hover > span.insideTabHighlightable {
  color: var(--Z-Dark-Title-Bright);
}
div#createPostImageDropArea > div#createPostImageDropAreaText::after,
div#createPostDocumentDropArea > div#createPostDocumentDropAreaText::after {
  content: "Drag and drop or \a0";
}

/* Still Image and Document posts (hover styles) */
div#createPostImageDropArea.dropAreaHighlighted1
  > div#createPostImageDropAreaText::after,
div#createPostImageDropArea.dropAreaHighlighted2
  > div#createPostImageDropAreaText::after,
div#createPostDocumentDropArea.dropAreaHighlighted1
  > div#createPostDocumentDropAreaText::after,
div#createPostDocumentDropArea.dropAreaHighlighted2
  > div#createPostDocumentDropAreaText::after {
  content: "Drop here to upload";
  color: var(--Z-Dark-Title-Bright);
}
div#createPostImageDropArea.dropAreaHighlighted1
  > label#createPostUploadAnImage,
div#createPostImageDropArea.dropAreaHighlighted2
  > label#createPostUploadAnImage,
div#createPostDocumentDropArea.dropAreaHighlighted1
  > label#createPostUploadADocument,
div#createPostDocumentDropArea.dropAreaHighlighted2
  > label#createPostUploadADocument {
  display: none;
}
div#createPostImageDropArea.dropAreaHighlighted1,
div#createPostDocumentDropArea.dropAreaHighlighted1 {
  border: 1px dashed var(--Z-Dark-Body-Dim);
}
div#createPostImageDropArea.dropAreaHighlighted2,
div#createPostDocumentDropArea.dropAreaHighlighted2 {
  border: 1px dashed var(--Z-Dark-Body-Dim);
  background-color: var(--Z-Dark-Background);
}

/* Still Image and Document posts (image previews, document previews, and add more) */
div.createPostImagePreviewWrapper,
div.createPostDocumentPreviewWrapper {
  border-radius: 5px;
  margin: 0 9px 0 0;
  padding: 19px 9px 9px;
  border: 1px solid var(--Z-Dark-Body-Dim);
}
img.createPostImagePreview,
iframe.createPostDocumentPreview {
  object-fit: contain;
  max-height: 128px;
}
div.createPostAddMorePhotos {
  cursor: pointer;
  display: flex;
  height: 150px;
  min-width: 110px;
  width: 110px;
  border-radius: 5px;
}
label.createPostAddMorePhotosText {
  max-width: 100px;
}
label.createPostAddMorePhotosText > span.insideTabHighlightable {
  display: flex;
  align-items: center;
  height: 150px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid var(--Z-Icon-Hover);
  color: var(--Z-Dark-Body-Dim);
}
label.createPostAddMorePhotosText:hover > span.insideTabHighlightable {
  color: var(--Z-Dark-Title-Bright);
}
input#addMorePhotos {
  display: none;
}

/* Still Image and Document posts (remove buttons) */
button.createPostPreviewRemoveButton {
  cursor: pointer;
  display: block;
  opacity: 0;
  margin: 0 0 -30px 10px;
  height: 20px;
  width: 20px;
  overflow: visible;
  border-radius: 10px;
  background-color: transparent;
}
div.createPostImagePreviewWrapper:hover > button.createPostPreviewRemoveButton,
div.createPostDocumentPreviewWrapper:hover
  > button.createPostPreviewRemoveButton,
button.createPostPreviewRemoveButton:focus {
  opacity: 1;
}
button.createPostPreviewRemoveButton.tabHighlightable:focus
  > span.insideTabHighlightable,
button.createPostPreviewRemoveButton.tabHighlightable:hover
  > span.insideTabHighlightable {
  background-color: rgba(0, 0, 0, 0.8); /* 1px bug in safari */
}
svg.removePreviewIcon {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  fill: var(--Z-Dark-Background);
}
svg.removePreviewIcon > path.cross1 {
  fill: var(--Z-Dark-Body-Dim);
}
button.createPostPreviewRemoveButton:focus path.cross1,
button.createPostPreviewRemoveButton:hover path.cross1 {
  fill: var(--Z-Dark-Title-Bright);
}

/* Link posts */
input#createPostLinkInput {
  height: 40px;
}

/* Document posts (see Image posts section) */

/* Poll posts */
div.createPostPollArea {
}
div.createPostOptionWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
  height: 40px;
  white-space: nowrap;
}
div.blocky {
  border-radius: 5px;
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  background-color: var(--Z-Dark-Input-Background);
}
input.textInputClass.pollOptionInputClass {
  padding: 6px 68px 6px 13px;
  height: 40px;
}
button.createPostPollDelete {
  border-radius: 2px;
  position: absolute;
  top: 6px;
  right: 6px;
  height: 28px;
  width: 28px;
}
button.createPostPollDelete > .insideTabHighlightable {
  border-radius: 2px;
  padding: 5px;
}
button.createPostPollDelete > .insideTabHighlightable > svg.deleteSymbol {
  height: 18px;
  width: 18px;
  fill: var(--Z-Dark-Highlight);
}
button.createPostPollAdd {
  display: inline-block;
  border-radius: 5px;
  margin: 10px 0 0 50px;
  height: 30px;
  color: var(--Z-Dark-Body-Dim);
  background-color: var(--Z-Dark-Input-Background);
  cursor: pointer;
  transition: var(--Snappy-Transition-Delay);
}
button#createPostPollAdd > .insideTabHighlightable {
  padding: 5px 12px;
  font-size: 14px;
}

/* Save draft and submit buttons */
div.createPostBottomMostButtonsContainer {
  display: none;
  border-radius: 5px;
  white-space: nowrap;
  margin-left: 15px;
  height: 30px;
  float: right;
}
button.createPostSaveDraftButton,
button.createPostSubmitButton {
  display: inline-block;
  border-radius: 5px;
  height: 30px;
  margin: 0 0 0 10px;
}
button.createPostSaveDraftButton > .insideTabHighlightable,
button.createPostSubmitButton > .insideTabHighlightable {
  padding: 5px 12px;
  font-size: 14px;
  color: var(--Z-Dark-Title-Bright);
  background-color: var(--Z-Dark-Input-Background);
}
button.createPostSaveDraftButton > .insideTabHighlightable {
  color: var(--Z-Dark-Body-Dim);
}

[data-toggle="tab"] {
  color: var(--Z-Dark-Title-Bright);
}

.nav-tabs > li.active > a {
  color: var(--Z-BU-Yellow);
}

navbar navbar-expand-md navbar-inverse input.isAnonymous {
  margin: auto;
}

label.anonymousLabel {
  color: var(--Z-Dark-Title-Bright);
  font-weight: 400;
}

/* Poll Posts */
.option-container {
  margin-top: 5px;
}
.trash-container {
  float: right;
  padding: 7px;
}
.pollAdd:hover {
  background-color: var(--Z-Dark-Input-Background);
}

/* -------------------- Main Feed Post Base -------------------- */

article.singlePostContainer {
  display: flex;
  min-width: 0;
  border-radius: 5px;
  height: auto;
  margin-bottom: 15px;
  background-color: var(--Z-Dark-Post-Box);
}
div.postLeft {
  border-radius: 5px 0 0 5px;
  min-width: 60px;
  width: 60px;
  padding: 15px 16px;
  background-color: var(--Z-Dark-Post-Sides);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
div.postCenter {
  min-width: 0;
  max-width: 592px;
  width: calc(100%);
  padding: 17px 0 17px 15px;
}
div.postRight {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0 5px 5px 0;
  height: 48px;
  min-width: 48px;
  width: 48px;
  padding: 15px;
}
@media screen and (max-width: 480px) {
  article.singlePostContainer,
  div.postLeft,
  div.postRight {
    border-radius: 0;
  }
  div.postLeft {
    min-width: 50px;
    width: 50px;
  }
  div.postRight {
    min-width: 38px;
    width: 38px;
    padding: 15px 10px;
  }
}
div.commentFeedContainer {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  height: auto;
  margin-bottom: 15px;
}
div.commentFeedLeft {
  border-radius: 5px 0 0 5px;
  float: left;
}
div.commentFeedCenter {
  border-radius: 5px 5px 5px 5px;
  padding: 0 15px 0 15px;
  min-width: 0;
  max-width: 720px;
  flex-grow: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--Z-Dark-Post-Box);
  line-height: 40px;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
div.commentFeed {
  width: 100%;
  background-color: var(--Z-Dark-Background);
  border-radius: 5px 5px 5px 5px;
}
div.noCommentsYet {
  width: 100%;
  background-color: var(--Z-Dark-Post-Sides);
  border-radius: 5px 5px 5px 5px;
  color: var(--Z-Dark-Body-Dim);
  padding: 50px 15px 50px 15px;
  font-size: 2em;
  text-align: center;
  margin-bottom: 15px;
}

.postLeftIconContainer {
  border-radius: 2px;
  margin: 0;
  height: 28px;
  width: 28px;
}
.postLeftIconContainer:hover svg.postLeftIcon,
.postLeftIconContainer.tabHighlightable:focus svg.postLeftIcon {
  fill: var(--Z-BU-Yellow);
}
svg.postLeftIcon {
  width: 16px;
  height: 16px;
  margin: 6px;
  fill: var(--Z-Dark-Highlight);
}
span.postLeftNumbers {
  text-align: center;
  margin: -1px 0 8px;
  font-size: 14px;
  font-weight: 400;
  color: var(--Z-Dark-Highlight);
}
span.postLeftNumbers.commentCount {
  margin: -1px 0 2px;
}

/* General */
h3.postTitle {
  display: inline-block;
  margin: -1px 0 5px;
  padding: 0;
  max-width: 577px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
  color: var(--Z-Dark-Title-Bright);
}
a.postTitleLink {
  border-radius: 2px;
  text-decoration: none;
  font-size: 18px;
  line-height: 23px;
  font-weight: 600;
  color: var(--Z-Dark-Title-Bright);
}
a.postTitleLink.tabHighlightable > span.insideTabHighlightable {
  display: inline;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
a.postTitleLink.tabHighlightable:focus > span.insideTabHighlightable,
a.postTitleLink.tabHighlightable:hover > span.insideTabHighlightable {
  text-decoration: underline;
}

/* Text posts */
p.postBody {
  margin: 7px 0 18px;
  white-space: pre-line; /* converts \n characters into <br> */
  font-size: 15px;
  font-weight: 400;
  color: var(--Z-Dark-Body-Dim);
}
p.postBody.mainFeedPostBodyClampedPreview {
  /* BEGIN VERY PRIMITIVE TEXT CLAMPING */
  max-height: 100px;
  overflow: hidden;
  /* END VERY PRIMITIVE TEXT CLAMPING */
}

/* Image posts */
div.postIndividualImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px 0 20px;
  max-height: inherit;
  max-width: inherit;
  width: 100%;
}
div.postCarouselOuterWrapper {
  position: relative;
  top: 0;
  left: 0;
  margin: 7px 0 20px;
  max-height: 400px;
  height: auto;
  max-width: 577px;
}
div.postCarouselWrapper {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  max-height: inherit;
  height: auto;
  max-width: inherit;
  width: 100%;
}
div.postCarouselSlideContainer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: left var(--Snappy-Transition-Delay) ease-in-out;
  max-height: inherit;
  height: 100%;
  max-width: inherit;
  width: 100%;
}
div.postCarouselSlideContainer.left {
  left: -100%;
}
div.postCarouselSlideContainer.middle {
  left: 0;
}
div.postCarouselSlideContainer.right {
  left: 100%;
}
div.postCarouselSlideInnerContainerForCentering {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: inherit;
  height: 100%;
  max-width: inherit;
  width: 100%;
}
img.postCarouselImage {
  object-fit: contain;
  max-height: 400px;
  max-width: 100%;
}
button.postCarouselButtonPrev,
button.postCarouselButtonNext {
  cursor: pointer;
  border-radius: 15px;
  position: absolute;
  top: calc(50% - 15px);
  height: 30px;
  width: 30px;
  background-color: var(--Z-Dark-Body-Dim);
}
button.postCarouselButtonPrev > span.insideTabHighlightable,
button.postCarouselButtonPrev.tabHighlightable:focus
  > span.insideTabHighlightable,
button.postCarouselButtonNext.tabHighlightable:focus
  > span.insideTabHighlightable,
button.postCarouselButtonPrev.tabHighlightable:hover
  > span.insideTabHighlightable,
button.postCarouselButtonNext.tabHighlightable:hover
  > span.insideTabHighlightable {
  background-color: transparent !important;
}
button.postCarouselButtonPrev.tabHighlightable:focus,
button.postCarouselButtonNext.tabHighlightable:focus,
button.postCarouselButtonPrev.tabHighlightable:hover,
button.postCarouselButtonNext.tabHighlightable:hover {
  background-color: var(--Z-Dark-Title-Bright);
}
button.postCarouselButtonPrev {
  display: none;
  left: 0;
}
button.postCarouselButtonNext {
  right: 0;
}
div.postCarouselPageIndicators {
  position: absolute;
  white-space: nowrap;

  top: calc(100% - 20px);
  left: 0;
  right: 0;
  margin: 0 auto 0;
  padding: 0;
  text-align: center;
}
div.postCarouselPips {
  display: inline-block;
  border-radius: 5px;
  margin: 0 2px 0;
  height: 10px;
  width: 10px;
  line-height: 10px;
  transition: background-color var(--Snappy-Transition-Delay) ease-in-out;
  border: 2px solid rgba(255, 255, 255, 0.75);
  background-color: transparent;
}
div.postCarouselPips.filled {
  background-color: rgba(255, 255, 255, 0.75);
}

/* Link posts */
div.postLink {
  margin: 1px 0 0;
  font-size: 15px;
  font-weight: 400;
  color: var(--Z-Dark-Body-Dim);
}
div.postLink > a.tabHighlightable,
div.postLink span.insideTabHighlightable {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

/* Document posts */
div.postDocumentPreviewWrapper {
  cursor: pointer;
  transition: height calc(2.5 * var(--Snappy-Transition-Delay)) ease-in-out; /* rmb to change the js "delay" if you change this */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--Z-Icon-Hover);
  margin: 5px 0 18px;
  height: 70px;
  max-width: 577px;
  width: 100%;
  color: var(--Z-Dark-Body-Dim);
  background-color: var(--Z-Dark-Post-Sides);
}
div.postDocumentPreviewTop {
  padding: 10px 21px 0;
  height: 60px;
  width: 100%;
  border-radius: 4px 4px 0 0;
}
div.postDocumentPreviewToolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
}
div.postDocumentIconContainerWrapper {
  white-space: nowrap;
  height: 28px;
}
.postDocumentIconContainer {
  display: inline-block;
  border-radius: 2px;
  margin: 0 0 0 10px;
  height: 28px;
  width: 28px;
}
.postDocumentIconContainer:hover svg.postDocumentIcon,
.postDocumentIconContainer.tabHighlightable:focus svg.postDocumentIcon {
  fill: var(--Z-BU-Yellow);
}
svg.postDocumentIcon {
  width: 16px;
  height: 16px;
  margin: 6px;
  fill: var(--Z-Dark-Highlight);
}
iframe.postDocumentPreview {
  flex-grow: 3;
  flex-shrink: 3;
  height: 0;
  width: 100%;
  overscroll-behavior: contain;
  border: none;
}
div.postDocumentPreviewBottom {
  height: 10px;
  border-radius: 0 0 4px 4px;
}

/* Poll posts */
div.postPollWrapper {
  border-radius: 5px;
  border: 1px solid var(--Z-Icon-Hover);
  margin: 5px 0 18px;
  padding: 15px 15px 5px;
  max-width: 577px;
  width: 100%;
  color: var(--Z-Dark-Body-Dim);
  background-color: var(--Z-Dark-Post-Sides);
}
div.postPollOptionWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 30px;
}
div.postPollOptionNumbers {
  display: none;
  text-align: center;
  width: 28px;
}
input.postPollOptionRadio {
  margin: 2px 8px 0;
}
div.postPollOptionNumbers {
  display: none;
}
span.postPollOptionText {
  display: block;
  position: absolute;
  z-index: 2;
  left: 50px;
  max-width: calc(100% - 60px);
  white-space: nowrap;
}
@media screen and (max-width: 480px) {
  /* if mobile */
  span.postPollOptionText {
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overscroll-behavior: contain auto;
  }
  span.postPollOptionText::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
  }
}
@media screen and (min-width: 480px) {
  /* if not mobile */
  span.postPollOptionText {
    overflow: hidden;
    text-overflow: clip; /* in order of "ideal"-ness */
    text-overflow: ellipsis; /* if no ellipsis, then clip */
  }
}
div.postPollOptionBar {
  transition: width calc(2 * var(--Snappy-Transition-Delay));
  display: block;
  position: absolute;
  z-index: 1;
  left: 40px;
  border-radius: 5px;
  height: 100%;
  width: 0;
  background-color: var(--Z-Dark-Im-Outta-Names);
}
button.postPollVoteButton {
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 30px;
}
button.postPollVoteButton.tabHighlightable > span.insideTabHighlightable {
  padding: 5px 12px;
  color: var(--Z-Dark-Title-Bright);
  background-color: var(--Z-Dark-Im-Outta-Names);
}

/* General */
.variantWide {
  max-width: 610px !important;
  width: calc(100% + 33px) !important;
}
.variantGreyBG {
  background-color: var(--Z-Dark-Post-Sides) !important;
}

/* General */
span.postProvenance {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: var(--Z-Dark-Highlight);
}
span.postProvenance > span.timeAgo.zTooltipRelative.tabHighlightable,
span.postProvenance
  > span.timeAgo.zTooltipRelative.tabHighlightable
  > span.insideTabHighlightable.insideButText {
  cursor: auto;
}

/* Dropdown menu */
button.postDropdownIconContainer {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-radius: 2px;
  height: 18px;
  width: 18px;
  position: relative;
}
svg.dropdownSymbol {
  height: 6px;
  width: 10px;
  margin: 6px 4px;
  fill: var(--Z-Dark-Body-Dim);
}
div.dropdownMenu {
  visibility: hidden;
  position: absolute;
  z-index: 500;
  top: 33px;
  right: 15px;
  background: var(--Z-Dark-Post-Box);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 6px 6px 0;
  -webkit-box-shadow: 0 5px 10px 2px rgba(10, 10, 10, 0.75);
  -moz-box-shadow: 0 5px 10px 2px rgba(10, 10, 10, 0.75);
  box-shadow: 0 5px 10px 2px rgba(10, 10, 10, 0.75);
}
div.dropdownMenu.active {
  visibility: visible;
}
textarea#editPostBodyInput {
  resize: none;
  padding: 10px 13px;
  height: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

/* Still dropdown menu */
div.dropdownMenuOption {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 2px;
  white-space: nowrap;
  margin: 0 0 6px;
  line-height: 20px;
}
div.dropdownMenuOption:hover,
div.dropdownMenuOption:focus {
  background-color: var(--Z-Icon-Hover);
  text-decoration: none;
}
div.dropdownMenuOption > span.insideTabHighlightable {
  display: block;
  height: 22px;
  width: 100%;
  padding: 3px 6px 3px 4px;
}
svg.dropdownMenuOptionIcon {
  height: 16px;
  width: 16px;
  margin: 0 6px 0 0;
  fill: var(--Z-Dark-Body-Dim);
}
span.dropdownMenuOptionText {
  display: inline-block;
  position: relative;
  top: -3px;
  font-size: 14px;
  font-weight: 400;
  color: var(--Z-Dark-Body-Dim);
}

/* General */
a.username,
a.username:visited {
  border-radius: 2px;
  text-decoration: none;
  color: var(--Z-Dark-Highlight);
  background-color: transparent;
}
a.username:hover > span.insideButText,
a.username:focus > span.insideButText,
a.username:active > span.insideButText {
  text-decoration: underline;
  color: var(--Z-Dark-Highlight);
  background-color: transparent;
}

a.username:hover div.opBio,
div.opBio:hover {
  display: block;
}

div.opBio {
  position: absolute;
  width: 200px;
  height: auto;
  border-radius: 5px;
  background-color: var(--Z-Dark-Post-Box);
  border: thin solid var(--Z-Dark-Post-Border);
  margin-left: 100px;
  margin-top: 2px;
  display: none;
  z-index: 600;
}

div.usernameText {
  font-size: 18px;
  color: var(--Z-Dark-Title-Bright);
  margin: 10px 10px 10px 10px;
  border-bottom: 1px solid var(--Z-Dark-Post-Border);
}

div.userInfo {
  font-size: 16px;
  color: var(--Z-Dark-Title-Bright);
  margin: 10px 10px 10px 10px;
}

p.userInfoText {
  color: var(--Z-Dark-Body-Dim);
  font-size: 14px;
  margin-left: 5px;
  margin-top: 7px;
}

div.linkPostWrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}
div.linkPostPreview {
  width: 100%;
}

/* -------------------- Main Feed Tag Containers -------------------- */

div.tagRowOverallContainer {
  display: flex;
  margin: 18px 0 18px;
  height: 20px;
  min-width: 0;
  max-width: 577px;
}

svg.tagSymbol {
  height: 16px;
  min-width: 16px;
  width: 16px;
  margin: 2px 10px 2px 0;
  fill: var(--Z-Dark-Body-Dim);
}

div.tagContainerCroppingBox {
  flex-grow: 1;
  display: flex;
  height: 20px;
  min-width: 0;
  max-width: 551px;
  width: 0;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overscroll-behavior: contain auto;
}
div.tagContainerCroppingBox::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

span.insideTagContainerCroppingBox:focus {
  outline: none;
}
div.tagContainerSpecial > span.insideTagContainerCroppingBox {
  flex-grow: 1;
  display: flex;
  white-space: nowrap;
}
div.tagContainerSpecial:focus {
  outline: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px 5px rgba(10, 10, 10, 0.75);
  -moz-box-shadow: 0 5px 10px 5px rgba(10, 10, 10, 0.75);
  box-shadow: 0 5px 10px 5px rgba(10, 10, 10, 0.75);
}
div.tagContainerSpecial:focus > span.insideTagContainerCroppingBox {
  border-radius: 2px;
}

div.tagStyleImportant,
div.tagStyleRegular,
div.invisibleTagForFadeOutPadding {
  flex-shrink: 0;
  display: inline-block;
  border-radius: 10px;
  padding: 4px 7px 4px;
  margin: 0 8px 0 0;
  height: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  color: var(--Z-Dark-Post-Box);
}
div.tagStyleImportant,
div.tagStyleRegular {
  cursor: pointer;
  -webkit-transition: background-color var(--Snappy-Transition-Delay),
    color var(--Snappy-Transition-Delay);
  -moz-transition: background-color var(--Snappy-Transition-Delay),
    color var(--Snappy-Transition-Delay);
  transition: background-color var(--Snappy-Transition-Delay),
    color var(--Snappy-Transition-Delay);
}

div.tagStyleImportant {
  background-color: var(--Z-Dark-Body-Dim);
}
div.tagStyleImportant:hover {
  color: var(--Z-Dark-Title-Bright);
  background-color: var(--Z-Dark-Post-Border);
}
div.tagStyleRegular {
  background-color: var(--Z-Dark-Highlight);
}
div.tagStyleRegular:hover {
  color: var(--Z-Dark-Title-Bright);
  background-color: var(--Z-Dark-Post-Border);
}

div.invisibleTagForFadeOutPadding {
  width: 30px;
  opacity: 0;
}
div.invisibleTagContainerFadeOutEffectAnchor {
  position: relative;
  width: 0;
}
div.tagContainerFadeOutEffect {
  position: absolute;
  right: -1px;
  width: 41px;
  height: 20px;
  background: linear-gradient(
    to right,
    rgba(34, 34, 34, 0),
    rgba(34, 34, 34, 1)
  );
  pointer-events: none;
}

/* -------------------- Side Bar Container -------------------- */

div.stickySideContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  margin: 0 0 30px 20px;
  height: auto;
  width: 220px;
}
@media screen and (max-width: 650px) {
  div.stickySideContainer {
    display: none !important;
  }
}

div.sideBarBoxHeader {
  margin-bottom: 15px;
}
.sideBarButton {
  display: block;
  background-color: var(--Z-Dark-Input-Background);
  border: 1px solid var(--Z-Dark-Post-Border);
  -webkit-transition: background-color var(--Snappy-Transition-Delay),
    color var(--Snappy-Transition-Delay);
  -moz-transition: background-color var(--Snappy-Transition-Delay),
    color var(--Snappy-Transition-Delay);
  transition: background-color var(--Snappy-Transition-Delay),
    color var(--Snappy-Transition-Delay);
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
  font-size: 12px;
  line-height: 12px;
}
.sideBarButton.tabHighlightable > span.insideTabHighlightable {
  display: block;
  border-radius: 4px;
  padding: 9px;
}

/* -------------------- Side Bar Search Box -------------------- */

div.searchBox {
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
  background-color: var(--Z-Dark-Post-Box);
}
form#mainFeedSearchForm {
  margin: 0;
}
input#searchByKeyword,
input#searchByTag {
  height: 40px;
  width: 100%;
}
input#searchByKeyword {
  margin: 0 0 15px;
}

button#backToTopButton {
  display: none;
  margin: 15px 0 0;
  border-radius: 5px;
  color: var(--Z-Dark-Body-Dim);
  background-color: var(--Z-Dark-Post-Box);
}
button#backToTopButton > span.insideTabHighlightable {
  border-radius: inherit;
  padding: 12px 15px;
}
button#backToTopButton:hover > span.insideTabHighlightable {
  background-color: var(--Z-Icon-Hover);
}

/* -------------------- Side Bar Drafts -------------------- */

div.sideBarDraftsBox {
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
  background-color: var(--Z-Dark-Post-Box);
  text-align: left;
  color: var(--Z-Dark-Title-Bright);
}

div.copyright {
  margin-top: 15px;
  border-radius: 5px;
  padding: 15px;
  width: 220px;
  background-color: var(--Z-Dark-Post-Box);
  text-align: left;
  color: var(--Z-Dark-Body-Dim);
}
div.sideBarDraft:hover {
  background-color: var(--Z-Icon-Hover);
}

/* -------------------- Side Bar Quick Links -------------------- */

div.sideBarQuickLinksBox {
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
  background-color: var(--Z-Dark-Post-Box);
  text-align: left;
  color: var(--Z-Dark-Title-Bright);
}

a.quickLink,
a.quickLink:hover,
a.quickLink:visited {
  color: inherit;
  text-decoration: none;
}

/* -------------------- 404 Page -------------------- */

div.error404PageContainer {
  margin: 70px auto 0;
  padding: 0 20px;
  max-width: 980px;
}
div.error404Container {
  border-radius: 5px;
  margin: 0 auto;
  padding: 0;
  max-width: 620px;
  text-align: center;
  background-color: var(--Z-Dark-Post-Box);
}
span.error404MessageHeaderJust4 {
  display: inline-block;
  margin: 0 10px;
  font-size: 150px;
  font-weight: 600;
  color: var(--Z-Dark-Title-Bright);
}

div.questionMarkCircle {
  display: inline-block;
  position: relative;
  bottom: 5px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 8px solid var(--Z-Dark-Title-Bright);
}
svg#questionMarkSymbol {
  fill: var(--Z-Dark-Title-Bright);
}

div.butMakeItSpin {
  transform-origin: center;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 3000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 3000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

div.error404MessageBody {
  display: block;
  font-size: 16px;
  padding-bottom: 55px;
  color: var(--Z-Dark-Body-Dim);
}
a.error404HomeLink {
  border-radius: 2px;
  text-decoration: none;
  color: var(--Z-Dark-Title-Bright);
}
a.error404HomeLink:hover > span.insideTabHighlightable {
  text-decoration: underline;
}

/* -------- Create Post Page --------*/

.post-header-wrapper {
  width: 100%;
  min-height: 200px;
  background: #222222;
  border-radius: 5px;
  margin-bottom: 30px;
}

.post-header-content-wrapper {
  padding: 50px;
}

.post-title {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #dedede;
}

.post-description-wrapper {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #dedede;
}

.post-description-wrapper p {
  margin-bottom: 15px;
}

.post-info {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  /* Darkmode Highlight */
  color: #7a7a7a;
}

.post-status-wrapper {
  height: 70px;
  background: #1f1f1f;
  border-radius: 5px 0 0 5px;
  padding: 22.5px 50px;
}

.post-status-content-flex {
  display: flex;
  height: 25px;
  justify-content: space-between;
  flex-flow: row nowrap;
  color: white;
  font-size: 16px;
}

.post-status-content-flex .post-stats-flex {
  width: 180px;
  display: flex;
  justify-content: space-between;
}

.post-status-content-flex .post-icons-flex {
  width: 110px;
  display: flex;
  justify-content: space-between;
}

.post-icon-20px {
  height: 20px;
  width: 20px;
}

/* ----------------------- Single Post Page ------------------------ */

/* ----------------------- Single Post Page Comment Input ------------------------ */

div.singlePostPageCommentInputBox {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  height: auto;
  margin-bottom: 15px;
  background-color: var(--Z-Dark-Post-Box);
}
div.singlePostPageCommentInputBoxLeft {
  border-radius: 5px 0 0 5px;
  min-width: 60px;
  width: 60px;
  padding: 20px 16px;
  background-color: var(--Z-Dark-Post-Sides);
}
div.singlePostPageCommentInputBoxCenter {
  border-radius: 0 5px 5px 0;
  padding: 15px;
  min-width: 0;
  max-width: 640px;
  flex-grow: 3;
  background-color: var(--Z-Dark-Post-Box);
}
@media screen and (max-width: 480px) {
  div.singlePostPageCommentInputBox,
  div.singlePostPageCommentInputBoxLeft,
  div.singlePostPageCommentInputBoxCenter {
    border-radius: 0;
  }
  div.singlePostPageCommentInputBoxLeft {
    min-width: 50px;
    width: 50px;
  }
}

form#singlePostPageCommentInputForm {
  width: 100%;
  margin: 0;
}
textarea#singlePostPageCommentInput {
  resize: none;
  margin: 0;
  padding: 10px 13px;
  height: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  /* for tiny spacing bug when resizing */
  overflow: hidden scroll;
  -ms-overflow-style: none;
  overscroll-behavior: auto contain;
  scrollbar-width: none;
}
textarea#singlePostPageCommentInput::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

div.singlePostPageCommentInputBottomMostButtonsContainer {
  display: none;
  border-radius: 5px;
  white-space: nowrap;
  margin: 10px 0 0 15px;
  height: 30px;
  float: right;
}
button#singlePostPageCommentInputSubmitButton {
  display: inline-block;
  border-radius: 5px;
  height: 30px;
  margin: 0 0 0 10px;
}
button#singlePostPageCommentInputSubmitButton > .insideTabHighlightable {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: var(--Z-Dark-Title-Bright);
  background-color: var(--Z-Dark-Input-Background);
}

textarea.editPostInput {
  margin-top: 10px;
  border-radius: 5px;
  text-align: left;
  width: 100%;
  height: 100px;
  background-color: var(--Z-Dark-Input-Background);
  color: var(--Z-Dark-Title-Bright);
}
textarea.commentInput:focus {
  text-decoration: none;
}
button.submitEditButton,
button.cancelEditButton {
  display: inline-block;
  border-radius: 5px;
  height: 30px;
  margin: 0 0 0 10px;
}
button.submitEditButton > .insideTabHighlightable,
button.cancelEditButton > .insideTabHighlightable {
  padding: 5px 12px;
  font-size: 14px;
  font-weight: 600;
  color: var(--Z-Dark-Title-Bright);
  background-color: var(--Z-Dark-Input-Background);
}
button.cancelEditButton > .insideTabHighlightable {
  color: var(--Z-Dark-Body-Dim);
}

[data-toggle="tab"] {
  color: var(--Z-Dark-Title-Bright);
}
div.delete-post-modal {
  background-color: var(--Z-Dark-Post-Box);
  color: var(--Z-Dark-Title-Bright);
}

/* -------------------- Comment Stuff? idk -------------------- */

textarea.commentInput {
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: left;
  width: 100%;
  height: 100px;
  background-color: var(--Z-Dark-Input-Background);
  color: var(--Z-Dark-Title-Bright);
}
textarea.commentInput:focus {
  text-decoration: none;
}
div.commentText {
  float: left;
  margin-bottom: 5px;
  width: 100%;
  color: var(--Z-Dark-Title-Bright);
}
div.commentUser {
  color: var(--Z-Dark-Body-Dim);
}

div.commentBox {
  margin-bottom: 5px;
  border-top-left-radius: 5px;
}

div.commentBox > div.commentBox {
  margin-left: 15px;
}

hr.eoc {
  width: 100%;
  border-top: none;
  margin-top: 0;
  margin-bottom: 5px;
  margin-right: 5px;
}

a.reply,
a.reply:visited {
  border-radius: 2px;
  text-decoration: none;
  color: var(--Z-Dark-Highlight);
  background-color: transparent;
}

textarea.commentReply {
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: left;
  width: 100%;
  height: 30px;
  background-color: var(--Z-Dark-Input-Background);
  color: var(--Z-Dark-Title-Bright);
}

div.commentReplyParent {
  display: none;
  width: 100%;
}

form.commentReplyForm {
  margin-bottom: 5px;
}

a.report,
a.report:visited {
  border-radius: 2px;
  text-decoration: none;
  color: var(--Z-Dark-Highlight);
  background-color: transparent;
  margin-left: 5px;
}

.commentLikes {
  float: right;
  width: 7%;
  min-width: 7%;
  align-items: center;
  margin: 0;
  margin-top: 20px;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
}

.singleComment {
  float: left;
  width: 93%;
}

/* -------------------- Accessibility (Cont.) -------------------- */

.tabHighlightable:focus,
.insideTabHighlightable:focus,
svg:active {
  outline: none;
}
svg {
  pointer-events: none;
}

.startup_details {
  padding: 10px;
  margin: auto;
  color: blue;
}
