{{!-- delete post modal --}}
<div class="modal fade" id="deletePost{{postID}}" tabindex="-1" role="dialog" aria-labelledby="deletePost"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content post-content delete-post-modal">
            <div class="modal-header">
                <div style="font-size: 2em; float:left;">
                    Delete Post
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background-color: var(--Z-Dark-Input-Background);">
                <h4>
                    Are you sure you want to delete this post?
                    <br />
                    <br />
                    The post will be gone forever.

                </h4>
            </div>
            <div class="modal-footer">
                {{!-- TODO: finish Save Draft and Submit functions --}}
                <form id="deletePostForm" name="deletePostForm" action="/posts/delete/{{postID}}" method="POST">
                    <div class="createPostBottomMostButtonsContainer" style="display: block;">
                        <button class="submitEditButton tabHighlightable zTooltipRelative " id="deletePostButton"
                            tabindex="0">
                            <span class="zToolTip">Delete Post</span>
                            <span class="insideTabHighlightable" tabindex="-1">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    deletePostButton = document.getElementById("deletePostButton");
    deletePostButton.addEventListener('click', function (event) {
        document.deletePostForm.submit();
    });
</script>

{{!-- End Modal --}}