<div class="tagRowOverallContainer">

    <svg class="tagSymbol" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
        <path d="M22,13,9.59.59A2,2,0,0,0,8.17,0H2A2,2,0,0,0,0,2V8.17A2,2,0,0,0,.59,9.59L13,22ZM5,7A2,2,0,1,1,7,5,2,2,0,0,1,5,7Z"/>
    </svg>

    <div class="tagContainerCroppingBox tagContainerSpecial dragToScroll" tabindex="0">
        <span class="insideTagContainerCroppingBox" tabindex="-1">
            {{#each tagsArray}}
                {{#if imptTag}}
                    <div class="tagStyleImportant postTag">
                        {{tag}}
                    </div>
                {{else}}
                    <div class="tagStyleRegular postTag">
                        {{tag}}
                    </div>
                {{/if}}
            {{/each}}
            <div class="invisibleTagForFadeOutPadding"></div>
        </span>
    </div>
    <div class="invisibleTagContainerFadeOutEffectAnchor">
        <div class="tagContainerFadeOutEffect">
        </div>
    </div>

</div>

